#AddOns {
    div {
        display: grid;
        gap: 16px;

        section {
            h1 {
                font-weight: 800;
                font-size: 40px;
                text-align: center;
                padding-top: 64px;
                padding-bottom: 16px;
            }
        }

        aside {
            ul {
                li {
                    font-weight: 400;
                    font-size: 20px;
                    text-align: left;
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
            }
        }
    }
}