#DreamerDescript {
    >div {
        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: 50vw auto;
            grid-template-areas: "dream-l dream-r";
        }
        section {
            @include md{
                grid-area: dream-l;
            }
            Image {
                

            }
            @include md{
            grid-area: dream-r;
            }
            h1 {
       

            }
        }

        aside {
            p {
          

            }
        }
    }
    div{
        section {

            h1 {
      
            }

            ul {
                li {
        
                }
            }

        }
    }
}