#IntroText {
    div {
        display: grid;
        gap: 50px;

        section {
            h1 {
                font-weight: 800;
                font-size: rem-calc(22);
                color: #000000;
                padding-top: 20%;

            }

            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 35px;

                width: 347px;
                height: 376px;
                left: 46px;
                top: 499px;

            }
        }
    }
}