#IntroText {
    text-align: center;

    h1 {
        font-weight: 800;
        font-size: rem-calc(22);
        color: $black;
        padding-top: 20%;

        // Small tablets
        @include md-min {
            font-size: rem-calc(60);
        }

        // Large tablets and small desktops
        @include lg-min {
            padding-top: 10%;
            padding-left: 10%;
            text-align: center;
            font-size: rem-calc(80);
        }
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 35px;

        position: absolute;
        width: 347px;
        height: 376px;
        left: 46px;
        top: 499px;

        // Small tablets
        @include md-min {
            font-size: rem-calc(60);
        }

        // Large tablets and small desktops
        @include lg-min {
            padding-top: 10%;
            padding-left: 10%;
            text-align: center;
            font-size: rem-calc(80);
        }

    }
}