#IntroImage {

    div {
        section {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 125vh;
                height: 75vh;
            }
    }
}
}