#RealistDescript {
    div {
        display: grid;

        section {
            h1 {
                font-weight: 800;
                font-size: 40px;
                text-align: center;
                padding-top: 108px;
                padding-bottom: 8px;
            }
        }

        aside {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 75vh;
                height: 55vh;
            }
        }

        section {

            p {
                font-weight: 400;
                font-size: 20px;
                text-align: left;
                line-height: 1.5;
                padding-top: 36px;
                padding-bottom: 36px;
                padding-left: 256px;
                padding-right: 256px;
            }
        }

        aside {
            h2 {
                font-weight: 800;
                font-size: 32px;
                text-align: center;
            }
        }

        section {
            ul {
                li {
                    font-weight: 400;
                    font-size: 20px;
                    text-align: center;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    padding-left: 256;
                    padding-right: 256;
                }

            }
        }
        aside{
            text-align: center;
            button{
                border: none;
                background-color: #821D30;
                font-size: rem-calc(20);
                transition: 0.25s;
                cursor: pointer;
                color: $white;
                border-radius: 50px;

                &:hover{
                    color: violet;
                }
            }
        }
    }
}